@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import 'flipper';
body{
    background-color:$gainsboro;
    color:white;
}
.row {
	min-width:100% !important;
	height:33vh;
}
.section{
	height:100%;
    padding:0px;
}


$colour1: rgb(243, 156, 18); $colour2: rgb(46, 204, 113); $colour3: rgb(52, 152, 219);
$colour4: rgb(155, 89, 182); $colour5: rgb(217, 38, 18);  $colour6: rgb(241, 196, 15);   
$colour7: rgb(52, 73, 94);   $colour8: rgb(26, 188, 156); $colour9: rgb(142, 68, 173);   

$colors: $colour1, $colour2, $colour3, $colour4, $colour5, $colour6, $colour7, $colour8, $colour9;

@for $i from 1 through length($colors) {
    .front-#{$i} {
        background-color: rgba(nth($colors, $i), 1);
    }
    .back-#{$i} {
        background-color:rgba(nth($colors, $i), 0.7);
    }
}