@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import 'flipper';
body{
    background-color:$gainsboro;
    color:white;
}
.row {
	min-width:100% !important;
	height:33vh;
}
.section{
	height:100%;
  padding:0px;
  overflow:hidden;
}

//in gradient order
// $colour1: rgb(52, 73, 94); $colour2: rgb(71,98,120); $colour3: rgb(103,138,158);
// $colour4: rgb(127,166,183); $colour5: rgb(140,181,196);  $colour6: rgb(154,195,209);   
// $colour7: rgb(182,224,234); $colour8: rgb(197,239,247); $colour9: rgb(228, 241, 254);   

$colour1: rgb(52, 73, 94); $colour2: rgb(127,166,183); $colour3: rgb(103,138,158);
$colour4: rgb(71,98,120); $colour5: rgb(140,181,196);  $colour6:rgb(158, 217, 229);   
$colour7: rgb(103,138,158); $colour8: rgb(154,195,209); $colour9: rgb(52, 73, 94);  

$colors: $colour1, $colour2, $colour3, $colour4, $colour5, $colour6, $colour7, $colour8, $colour9;

@for $i from 1 through length($colors) {
    .front-#{$i} {
        background-color: rgba(nth($colors, $i), 1);
    }
    .back-#{$i} {
      background-color: rgba(nth($colors, $i), 1);
    }
    .mobile-#{$i} {
      background-color:rgba(nth($colors, $i), 1);
    }
}

.card-caption{
    p{
        font-size:20px;
    }
    height:50%;
    width:75%;
    margin:auto;
    padding-top:10%;
    padding-bottom:10%;
    text-align:center;
}

#picture-box {
  background-image:url('../public/prof-pic.jpg');
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.front-9{
  text-align:left;
}
.code{
  height:100%;
  width:100%;
}
pre{
  height:100%;
  width:100%;
}

h1{
  color:white;
}
.mobile{
  height:50vh;
}

a{
  color:#369D73;
}